@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'tajawal', sans-serif;
  direction: rtl !important;
}
body {
  height: 100%;
  width: 100%;
}
.transition{
  transition: .4s all ease-in-out !important;
}

select{
  background: transparent;
  border: none;
  color: inherit;
  font-family: 'tajawal', sans-serif;
  font-size: 1rem;
  cursor: pointer;
}



/* FONTS */
@font-face {
  font-family: 'tajawal';
  src: url('./assets/fonts/Tajawal/Tajawal-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'tajawal';
  src: url('./assets/fonts/Tajawal/Tajawal-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'tajawal';
  src: url('./assets/fonts/Tajawal/Tajawal-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'tajawal';
  src: url('./assets/fonts/Tajawal/Tajawal-ExtraLight.ttf');
  font-weight: 200;
}